html { 
  /* overall better than using '*' */
  margin: 0;
  padding: 0;

  background-color: #fefae0;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none; /* Remove underline */
}

h1, h2 {
  text-align: center;
}

.lifting-gif {
  width: 400px;
  height: auto;
}

.my-lifts-div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.lift-placard {
  padding: 20px;
}

.lift-placard img {
  width: 90%;
  height: 70%;
}