html { 
  /* overall better than using '*' */
  margin: 0;
  padding: 0;

  background-color: #fefae0;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
  text-align: center;
}

a {
  text-decoration: none; /* Remove underline */
}

.author-photo {
  width: 200px;
  height: 300px;
  transition: background-image 0.2s;
  background-size: cover;
  background-position: center;
  background-image: url(media/quincy2.jpeg);
}

.author-photo:hover {
  background-image: url(media/quincy.jpeg);
}

.name-header {
  border: dotted;
}

