html { 
  /* overall better than using '*' */
  margin: 0;
  padding: 0;

  background-color: #fefae0;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none; /* Remove underline */
}

.project-image, .author-photo {
  width: 200px;
  height: auto;
}

.name-header {
  border: dotted;
}

.lifting-gif {
  width: 400px;
  height: auto;
}